* {
  font-family: 'Helvetica', sans-serif;
}

.sidebar {
  box-shadow: 1px 1px 10px 0px rgba(0, 0, 0, .3);
  background-color: #333;

  &__color {
    position: relative;

    &--data {
      width: 100%;
      display: flex;
      align-items: center;
      height: 65px;
    }

    &--input {
      font-size: 2rem;
      letter-spacing: 2px;
      font-weight: 700;
      height: 65px;
      padding: 1rem 1.5rem;
      width: 100%;
      text-transform: uppercase;
      border: 0;
      text-align: center;
      background-color: #F2F1EF;
      color: #6B6B6B;
      border: 0;
      transition:.3s;

      &:hover,
      &:focus {
        color: #333;
      }
    }

    @media screen and (min-width: 643px) {
      .sidebar__color--input {
        border-left: 1px solid #222;
        border-right: 1px solid #222;
      }

      &:first-child {
        .sidebar__color--input {
          border-left: 0;
        }
      }

      &:nth-child(2) {
        .sidebar__color--input {
          border-right: 0;
        }
      }
    }

    @media screen and (min-width: 895px) {
      .sidebar__color--input {
        border: 0;
      }
    }

    .undo-change {
      position: absolute;
      top: 1rem;
      right: 1.5rem;
      border: 0;
      background-color: transparent;
      padding: .5rem 0;
      font-size: 14px;
      font-weight: 700;
      color: #6B6B6B;
      opacity: 0;
      transition: .3s;
      cursor: pointer;

      &:hover {
        color: #333;
      }

      &.is-shown {
        opacity: 1;
      }
    }

    .adjust-color {
      width: 25%;
      height: 100%;
      padding: 1rem .5rem;
      font-size: .875rem;
      background-color: #333;
      color: white;
      border: 0;
      letter-spacing: 1px;
      cursor: pointer;
      transition: .3s;
      border: 1px solid #222;
      z-index: 10;

      &:hover,
      &:focus {
        background-color: lighten(#333, 8%);
      }

      &.is-pressed {
        background-color: darken(#333, 10%);
      }
    }
  }
}

.color {
  background-color: white;
  transition: background-color .3s ease-in-out;
}

.text-box {
  line-height: 1.5;
  letter-spacing: 1px;
  font-size: 16px;

  h1 {
    font-size: 24px;
    margin-bottom: 1rem;
    font-weight: 700;
  }

  span {
    font-weight: 700;
  }

  @media screen and (max-width: 643px) and (max-height: 830px) {
    display: none;
  }
}

.sidebar__score {
  background-color: white;

  &--ratio {
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1px;
    color: black;
    margin: 0;
    padding-bottom: .75rem;

    span {
      font-weight: 700;

      &.approved {
        color: #0A710A;
      }

      &.nope {
        color: red;
      }
    }
  }

  &--info {
    line-height: 1.7;
    padding-right: 0;

    @media screen and (min-width: 643px) {
      padding-right: 7rem;
    }

    @media screen and (min-width: 895px) {
      font-size: 1rem;
      padding-right: 0;
    }
  }

  a {
    color: black;
  }
}

.launch-widget {
  z-index: 10;
  width: 100%;

  &__btn {
    height: 100%;
    width: 100%;
    padding: 1rem 0;
    font-size: .875rem;
    letter-spacing: 1px;
    background-color: #333;
    border: 0;
    color: white;
    transition: .3s;
    cursor: pointer;

    &:hover {
      background-color: lighten(#333, 10%);
    }
  }
}

.footer {
  font-weight: 400;
  transition: .3s;
  cursor: pointer;
  background-color: #333;

  p {
    font-size: .7rem;
    color: white;
  }

  a {
    color: white;
  }
}
