* {
  font-family: 'Helvetica', sans-serif; }

.sidebar {
  box-shadow: 1px 1px 10px 0px rgba(0, 0, 0, 0.3);
  background-color: #333; }
  .sidebar__color {
    position: relative; }
    .sidebar__color--data {
      width: 100%;
      display: flex;
      align-items: center;
      height: 65px; }
    .sidebar__color--input {
      font-size: 2rem;
      letter-spacing: 2px;
      font-weight: 700;
      height: 65px;
      padding: 1rem 1.5rem;
      width: 100%;
      text-transform: uppercase;
      border: 0;
      text-align: center;
      background-color: #F2F1EF;
      color: #6B6B6B;
      border: 0;
      transition: .3s; }
      .sidebar__color--input:hover, .sidebar__color--input:focus {
        color: #333; }
    @media screen and (min-width: 643px) {
      .sidebar__color .sidebar__color--input {
        border-left: 1px solid #222;
        border-right: 1px solid #222; }
      .sidebar__color:first-child .sidebar__color--input {
        border-left: 0; }
      .sidebar__color:nth-child(2) .sidebar__color--input {
        border-right: 0; } }
    @media screen and (min-width: 895px) {
      .sidebar__color .sidebar__color--input {
        border: 0; } }
    .sidebar__color .undo-change {
      position: absolute;
      top: 1rem;
      right: 1.5rem;
      border: 0;
      background-color: transparent;
      padding: .5rem 0;
      font-size: 14px;
      font-weight: 700;
      color: #6B6B6B;
      opacity: 0;
      transition: .3s;
      cursor: pointer; }
      .sidebar__color .undo-change:hover {
        color: #333; }
      .sidebar__color .undo-change.is-shown {
        opacity: 1; }
    .sidebar__color .adjust-color {
      width: 25%;
      height: 100%;
      padding: 1rem .5rem;
      font-size: .875rem;
      background-color: #333;
      color: white;
      border: 0;
      letter-spacing: 1px;
      cursor: pointer;
      transition: .3s;
      border: 1px solid #222;
      z-index: 10; }
      .sidebar__color .adjust-color:hover, .sidebar__color .adjust-color:focus {
        background-color: #474747; }
      .sidebar__color .adjust-color.is-pressed {
        background-color: #1a1a1a; }

.color {
  background-color: white;
  transition: background-color .3s ease-in-out; }

.text-box {
  line-height: 1.5;
  letter-spacing: 1px;
  font-size: 16px; }
  .text-box h1 {
    font-size: 24px;
    margin-bottom: 1rem;
    font-weight: 700; }
  .text-box span {
    font-weight: 700; }
  @media screen and (max-width: 643px) and (max-height: 830px) {
    .text-box {
      display: none; } }

.sidebar__score {
  background-color: white; }
  .sidebar__score--ratio {
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1px;
    color: black;
    margin: 0;
    padding-bottom: .75rem; }
    .sidebar__score--ratio span {
      font-weight: 700; }
      .sidebar__score--ratio span.approved {
        color: #0A710A; }
      .sidebar__score--ratio span.nope {
        color: red; }
  .sidebar__score--info {
    line-height: 1.7;
    padding-right: 0; }
    @media screen and (min-width: 643px) {
      .sidebar__score--info {
        padding-right: 7rem; } }
    @media screen and (min-width: 895px) {
      .sidebar__score--info {
        font-size: 1rem;
        padding-right: 0; } }
  .sidebar__score a {
    color: black; }

.launch-widget {
  z-index: 10;
  width: 100%; }
  .launch-widget__btn {
    height: 100%;
    width: 100%;
    padding: 1rem 0;
    font-size: .875rem;
    letter-spacing: 1px;
    background-color: #333;
    border: 0;
    color: white;
    transition: .3s;
    cursor: pointer; }
    .launch-widget__btn:hover {
      background-color: #4d4d4d; }

.footer {
  font-weight: 400;
  transition: .3s;
  cursor: pointer;
  background-color: #333; }
  .footer p {
    font-size: .7rem;
    color: white; }
  .footer a {
    color: white; }
