* {
  font-family: 'Helvetica', sans-serif;
}

.header {

  h1 {
  font-size: 1.75rem;
  font-weight: 400;
  letter-spacing: 1px;
  line-height: 1.5;
  transition: .3s ease-in-out;

    span {
      font-weight: 700;
    }

    @media screen and (min-width: 860px) {
      font-size: 2rem;
    }
  }

  h2 {
    font-size: .875rem;
    font-weight: 400;
    letter-spacing: 1px;
    line-height: 1;
    transition: .3s ease-in-out;

    @media screen and (min-width: 860px) {
      margin-top: 0;
    }
  }

  a {
    text-decoration: none;
    border-bottom: 1px solid black;
    cursor: pointer;

    &:hover {
      color: magenta;
      border-bottom: 1px solid magenta;
    }
  }
}

.text-box {
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 1px;

  span {
    font-weight: 700;
  }
}

.input-hex {

  input {
    border: none;
    font-size: 1.75rem;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2px;
    outline: 0;
    border: 1px solid #E6E9EC;
    transition: .3s ease-in-out;

    &::-webkit-input-placeholder {
      color: black;
    }

    .color2 & {
       border-left: 0;
    }
  }
}

.fixed-content {
  box-shadow: 0 3px 0 rgba(0,0,0,0.25), 0 2px 4px rgba(0,0,0,0.45);
}

.score {
  background-color: white;
  color: black;

  p {
    text-align: center;
    opacity: 1;
    padding: 0;

    @media screen and (min-width: 860px) {
      padding: 0 3rem;
    }

    &.verdict {
      font-size: 2rem;
      font-weight: 700;

      @media screen and (min-width: 860px) {
        font-size: 3rem;
        margin-bottom: .5rem;
      }
    }

    &.numbers {
      font-size: 1.75rem;
      font-weight: 700;
      letter-spacing: 1px;
      color: black;

      span {

        &.approved {
          color: #0A710A;
        }

        &.nope {
          color: red;
        }
      }
    }

    &.message {
      margin-top: .75rem;
      line-height: 1;
      font-size: 1rem;
      letter-spacing: 1px;

      span {
        font-weight: 700;
      }

      @media screen and (min-width: 860px) {
        font-size: .9rem;
      }

      .verdict-link {
        font-size: .75rem;
        color: #222;
      }
    }
  }
}

.input-range {

  p {
    font-size: 1rem;
    letter-spacing: 1px;

    &:first-child {
      padding-right: .5rem;
    }
    &:last-child {
      padding-left: .5rem;
    }
  }
}

input[type=range] {
  border: 2px solid black;

  &:focus {
    outline: none;
  }
}

input[type=range]::-webkit-slider-runnable-track {
  background: white;
}

input[type=range]::-webkit-slider-thumb {
  background: white;
  border: 2px solid black;

  &:active {
    background: darkgray;
  }
}

input[type=range]::-moz-range-track {
  background: white;
}

input[type=range]::-moz-range-thumb {
  background: white;
}

input[type=range]::-ms-track {
  background: transparent;
  border-color: transparent;
  color: transparent;
}

input[type=range]::-ms-thumb {
  background: white;
}

.footer {
  background-color: white;
  color: black;
  font-size: .65rem;
  font-weight: 400;
  letter-spacing: 1px;
  color: #333;
  -webkit-font-smoothing: antialiased;

  a {
    color: black;
    font-weight: 400;
  }
}
